<div class="sidebar">
	<p class="sidebar-links"><%= link_to 'Blog', posts_path %><small>Things I have found useful over time</small></p>
	<p class="sidebar-links"><%= link_to 'About Me', static_page_about_path %></p>
	<p class="sidebar-links"><a href="http://www.flickr.com/photos/prashanthrajagopal/">My Photography<small>A display of my ameture photographic skills</small></a></p>
	<h4>Follow Me On</h4>
	<p class="sidebar-links"><a href="https://github.com/prashanthrajagopal" target="tab">GitHub<small>My Github profile</small></a></li></p>
	<p class="sidebar-links"><a href="https://twitter.com/prash_raj" target="tab">Twitter<small>If you tweet</small></a></li></p>
	<p class="sidebar-links"><a href="http://stackoverflow.com/users/1868745/prashanth" target="tab">StackOverflow<small>My StackOverflow profile</small></a></li></p>
	<p class="sidebar-links"><a href="http://in.linkedin.com/in/prashanthrajagopal/" target="tab">Linkedin<small>My Linkedin profile</small></a></li></p>
	<p class="sidebar-links"><a href="https://plus.google.com/+PrashanthRajagopal?rel=author" target="tab">Google<small>My Google+ profile</small></a></li></p>
</div>