<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>